*{
    box-sizing: border-box;
}
body{
    height: 100%;
    background-color:rgba(28, 82, 221, 0.56);
    font-family: 'Roboto', sans-serif;
    background-repeat: no-repeat;

}
.wrapper{
    width: 2460px;
    margin: 0 auto;
}

.block1{
    text-align: right;
    margin-right: 45px;
    margin-top: 63px;
    margin-left: 700px;

}

.block1 a{
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    margin-right: 60px;
}


.button1{
    background: linear-gradient(90deg, #345AA4 -28.35%, rgba(63, 0, 156, 0) 153.96%);
    color: #E5E5E5;
    border-radius: 13px;
    border:none;
    padding-top: 17px;
    padding-bottom: 16px;
    padding-left: 36px;
    padding-right: 36px;
    font-size: 24px;
}

.logo{
 
    margin-top: -110px;
}
.logo h1{
    font-size: 48px;
    color: #fff;
    margin-top: 58px;
    padding-left: 11px;
   
}

.logo h1::before{
    content: "";
    background:linear-gradient( #345AA4, #3F009C); 
    height: 43px;
    width:42px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: 103px;
    display: inline-block;
    position: relative;
    z-index: 1;
    top:4px;
    left:-9px;
}
.logo h1::after{
    content:"";
    width: 20px;
    height: 20px;
    background-color: #fff;
    display: inline-block;
    position: relative;
    z-index: 2;
    top: -5px;
    left: -310px;
}



.bg{
    padding: 850px;
    padding-bottom: 73px;
    background-image: url('../img/Working\ process\ \(1\).png');
    background-position:top 187px right 45px;
    background-repeat: no-repeat;
    background-size: 833px 664px;
}

.content{
    margin: auto;
}
.text{
    display: inline-block;
    position: absolute;
    top: 218px;
}
h2{
    font-size: 70px;
    color:#fff;
    text-align: left;
    margin-left: 103px;
    margin-top: 218px;
    margin-bottom: 8px;
}

h3{
    font-size: 36px;
    color: #fff;
    text-align: left;
    margin-left: 103px;
    margin-top: 0px;
}
.button2{
    display: inline-block;
    background: linear-gradient(90deg, #345AA4 0%, rgba(63, 0, 156, 0.92) 164.26%);
    width: 277px;
    height: 85px;
    font-size: 36px;
    color: #fff;
    border: none;
    border-radius: 13px;
    margin-left: 103px;
    margin-bottom: 338px;
    margin-top: 55px;
    position: bottom 338 px;
    
}
