*{
    box-sizing: border-box;
}
body{
    height: 100%;
    background-color:rgba(28, 82, 221, 0.56);
    font-family: 'Roboto', sans-serif;
    background-repeat: no-repeat;
    
}
.wrapper{
    width: 1600px;;
    margin: 0 auto;
}

.block1{
    text-align: right;
    margin-right: 45px;
    margin-top: 63px;
    margin-left: 700px;

}

.block1 a{
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    margin-right: 60px;
}


.button1{
    background: linear-gradient(90deg, #345AA4 -28.35%, rgba(63, 0, 156, 0) 153.96%);
    color: #E5E5E5;
    border-radius: 13px;
    border:none;
    padding-top: 17px;
    padding-bottom: 16px;
    padding-left: 36px;
    padding-right: 36px;
    font-size: 24px;
}

.block2{
    width: 266px;
    text-align: left;
    margin-top: -85px;
    margin-left:22px;
    /* position:absolute;  */
    display: flex;
}
.logo{
    background-color: #1C52DD; 
    height: 30px;
    width:30px;
    position: absolute;
    display: inline-block;
    
}
.logo2{
    width:10px;
    height: 10px;
    background-color: #fff;
    position: absolute;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-block;
    margin-right: 2px;
}

.block2 h1{

    font-size: 48px;
    margin-top: 0px;
    color: #fff;
    padding-left: 30px;
    padding-bottom: 10px;
    
}


.bg{
    padding: 850px;
    padding-bottom: 73px;
    background-image: url('../img/Working\ process\ \(1\).png');
    background-position: top 187px right 46px;
    background-position: right;
    background-repeat: no-repeat;
    display:inline-block;
    margin-right: 45px;
   
}

.content{
    display: inline-block;
}

.text{
    display: inline-block;
    position: absolute;
    top: 218px;
}
h2{
    font-size: 70px;
    color:#fff;
    text-align: left;
    margin-left: 103px;
    margin-top: 218px;
    margin-bottom: 8px;
}

h3{
    font-size: 36px;
    color: #fff;
    text-align: left;
    margin-left: 103px;
    margin-top: 0px;
}
.button2{
    display: inline-block;
    background: linear-gradient(90deg, #345AA4 0%, rgba(63, 0, 156, 0.92) 164.26%);
    width: 277px;
    height: 85px;
    font-size: 36px;
    color: #fff;
    border: none;
    border-radius: 13px;
    margin-left: 103px;
    margin-bottom: 338px;
    margin-top: 55px;
    /* position: absolute; */
    position: bottom 338 px;
    
}
