*{
  box-sizing: border-box;
}
body{
  width: 100%;
  max-width: 1600px;
  background-color: #1C52DD8F;
  margin: 0 auto;
  font-family:Roboto;
  color: white;
  margin-top: 77px;
} 
.wraper{
  width: 1600px;
  margin: 0 auto;
  
 }

.logo{
  display: inline-block;
  width: 319px;
  height:56px;
  
 }


nav{
  display: inline-block;
  width: 900px;
  vertical-align: top;
  text-align: right;

}


a{
  text-decoration: none;
  color: white;
  font-size: 30px;
  margin-right: 60px;
  }

.button{
  background: linear-gradient(90deg, #345AA4 -28.35%, rgba(63, 0, 156, 0) 153.96%);
  color: #E5E5E5;
  border-radius: 13px;
  border:none;
  padding-top: 17px;
  padding-bottom: 16px;
  padding-left: 36px;
  padding-right: 36px;
  font-size: 24px;
   
}
 


