*{
    box-sizing: border-box;
}
.bg{
    padding: 1000px 500px;
    min-height: 800px;
    color: cornsilk;
    font-size: 40px;
    font-weight: bold;
    /* background-image: url("https://assets-global.website-files.com/5ef5480befd392489dacf544/5f9f5e5943de7e69a1339242_5f44a7398c0cdf460857e744_img-image.jpeg");
 */
    /* background-image: url("../img/1.webp"),url("../img/bg.jpeg"); */
    /* background-image: url("../img/1.webp");*/
    background-color: red; 
    background-image: url("../img/avatar.png");
    /* background-repeat: no-repeat; */
    background-repeat: repeat-x;
    /* background-repeat: repeat-y; */
    /* background-position: top right;
    background-position: bottom right; */
    /* background-position: center;*/
    /* background-position: top 100px right 200px; */
    /* background-size: contain; */
    /* background-size: cover; */
    background-size: 100px;
    /* background-attachment: fixed; */

} 
