*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
header{
    padding: 65px 0;
}

.container{
    width: 1140px;
    margin: 0 auto;
}

header a{
    display: inline-block;
    text-decoration: none;
}

.logo-block,
.social-block{
    display: inline-block;
}
.logo-block{
    width: 400px;
}

.social-block{
    width: 556px;
    text-align: right;
    vertical-align: top;
    padding-top: 7px;
}

.social-block a{
    margin-right: 20px;
}
.social-block a:last-child{
    margin-right: 0px;
}

.Get_unlimited{
    padding-top: 102px;
    padding-bottom: 211px;  
    background-color: #FAC960;
}

.Get_unlimited h1{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 44px;
    color: #8A6D2F;

}

form{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

input::placeholder{
    color: #999999;
    font-size: 30px;
}

input{
    width:560px;
    height:54px;
    padding: 0px 36px 0px 36px;
    
}
button{
    color:white;
    border: none;
    background: #A8863D;
    border-radius: 0px 2px 2px 0px;
    font-size: 30px;
    margin-left: 6px;
}
button a{
text-decoration: none;
}

.Unlimited_space{
    text-align: center;
    height:438px;
    background-color: #F2F2F2;;

}

.Unlimited_space h1{
    text-align: center;
    color:rgba(0, 0, 0, 0.56);
    padding-top: 77px;
    padding-bottom: 32px;
    font-size: 37px;
    margin: 0 auto;
}
p{
    text-align: center;
    color: rgba(0, 0, 0, 0.4);
    padding-bottom: 56px;
    font-size: 23px;
    margin: 0 auto;
}

.Unlimited_space img{
    display: block;
    margin:auto
}

.Mobile_Access h1{
    text-align: center;
    color:rgba(0, 0, 0, 0.56);
    font-size: 37px;
    padding-top: 88.62px;
    padding-bottom: 32px;

}
.Mobile_Access img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 32px;
    padding-bottom: 21.81px;

}


.Tell{
    background-color: #FAC960;
    border-radius: 0px;
    height: 313px;
}
.Tell h1{
    text-align: center;
    color: #8A6D2F;
    padding-top: 54px;
    padding-bottom: 31px;
    font-size: 37px;
}
.Tell p{
    color:rgba(0, 0, 0, 0.4);
    padding-bottom: 33px;
}

.Tell button{
    width: 61px;
    height: 22px;
    border-radius: 3px;
    margin: 0 auto;
    display: block;
   background-color: #FFFFFF;
}


footer{
    background-color: #F2F2F2;
    padding-bottom: 81px;
    text-align: center;
}

.footer-logo{
    padding-top: 81px;
    margin-bottom: 24px;
  
}

.social-footer-link{
    display: inline-block;
    margin:0 22px;
 
}

.footer a{
    text-decoration: none;
}

.footer-social a>img{
    width: auto;
    height: 18px;
    margin: auto;
}